POOL_CONTRACT=0xca7cf7e0fd4e071ca672b8bf5d52672667b72c16
ABI_POOL_CONTRACT=
RPC_VECHAIN=https://vethor-node-test.vechaindev.com

// Config RABBITMQ
RABBIT_URI=amqps://vb:4743vyjhjSCcuKq8@b-7f02eefd-22f0-481b-9f6b-cc8acb6a84c3.mq.ap-southeast-1.amazonaws.com:5671/vb
RABBIT_EXCHANGE=lending-actions

RABBIT_ROUTING_KEY_SUPPLY=lending.supply
RABBIT_ROUTING_KEY_BORROW=lending.borrow
RABBIT_ROUTING_KEY_REPAY=lending.repay
RABBIT_ROUTING_KEY_WITHDRAW=lending.withdraw
RABBIT_ROUTING_KEY_UPDATE_RESERVE=lending.reserve_update

VB_V2_FACTORY_CONTRACT=0x653f0078277e4ac28d60b2e9b9b19f6a87515dab
RABBIT_EXCHANGE_POOL=pool-actions
RABBIT_ROUTING_KEY_PAIR_CREATED=pool.pair_created

RABBIT_HEARTBEAT=5
RABBIT_LOCALE=en_US
RABBIT_FRAME_MAX=0
FILTER_FROM_BLOCK_old=12386139
FILTER_TO_BLOCK_old=12697301
FILTER_FROM_BLOCK=12807900
FILTER_TO_BLOCK=12808300
INIT_BLOCK=12808224
INIT_TIMESTAMP=1658113590
